# Visual Studio and Visual Studio Code directories
**/.vs/
*/.vs/
.vs/
*.vscode/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output folders
bin/
obj/
*/bin/
*/obj/

*.dtbcache.json
*.FileListAbsolute.txt